<link rel="stylesheet" type="text/css" href="skin/stylesheets/footer.css" />

<style>
    #footer {
        width:100%;
        padding:0px;
    }
</style>

<div class="footer">

    <div class="footer-copy">

        <div class="dotted-line"></div>

        <div class="centered">
            <div class="dotted-arrow mobile-hide"></div>
            <div class="col-4-set mobile-hide-first">
                <div class="col-1">
                    <h4>Quick links</h4>
                    <a href="#home" title="Page 1">Home</a>
                    <a href="#page2" title="Page 2">Page 2</a>
                    <a href="#page3" title="Page 3">Page 3</a>
                    <a href="#page4" title="Page 4">Page 4</a>
                    <a href="#page5" title="Page 5">Page 5</a>
                </div>

                <div class="col-2">
                    <h4>About</h4>
                    <a href="/about" title="About">About</a>
                    <a href="/site-map" title="Sitemap">Sitemap</a>
                    <a href="#signup" class="mobile-only" title="Join">Sign up</a>
                    <a href="#login" class="mobile-only" title="Login">Login</a>
                </div>

                <div class="col-3">
                    <h4>Other</h4>
                    <a href="/cardholders-terms" title="terms of use">Terms of use</a>
                    <a href="/website-terms" title="Website terms of use">Website terms of use</a>
                    <a href="/privacy-policy" title="Privacy policy &amp; cookies">Privacy policy &amp; cookies</a>
                    <a href="/accessibility" title="Accessibility">Accessibility</a>
                </div>

                <div class="col-4">
                    <h4>Get in touch &amp; support</h4>
                    <span>Call 07460 614 340</span>
                    <a href="/helping-hands?hash=contact" title="Contact">Contact</a>
                    <a href="/helping-hands/faq" title="FAQs">FAQs</a>
                    <div class="social-icons mobile-hide clearfix">
                        <a href="https://plus.google.com/" style="float:left;" target="_blank" title="Join us on Google+"><img src="skin/main/images/googleplus-icon.png" width="100"></a>
                        <a href="https://www.twitter.com/" style="float:left;" target="_blank" title="Follow on Twitter"><img src="skin/main/images/twitter-icon.png" width="100"></a>
                        <a href="https://www.facebook.com/mattplatts" style="float:left;" target="_blank" title="Follow on Facebook"><img src="skin/main/images/facebook-icon.png"></a>
                    </div>
                </div>
            </div>

            <p>Demo web app framework</p>
            <p>&copy; 2015 Matt Platts.<br></p>

            <div class="footer-logos">
            </div>
        </div>
    </div>
</div>
