<h1 style="margin: 20px 0px">Home Page</h1>
<p>Welcome to the SPA framework demo home page.</p>
<p>You can log in using user: mattplatts@gmail.com and password test.</p>
<p>You can find the login page <a id="loginButton">here</a>

<script>

$(document).ready(function() {
    setHeaderText("Home"); // no longer required as we use a different template


});

// we need to alter the default css here to provide the wide layout and hide the header.
$("#main").css("width","1003px");
$("#pageHeader").hide();
</script>

