<h1 style="margin: 20px 0px">Home Page</h1>
<p>Welcome to the home page for this SPA framework demo using Embedded Javascript (EJS) templates.</p>
<br />
<p>You can log in using user: mattplatts@gmail.com and password test.</p>
<br />
<p>You can find the login page <a id="loginButton">here</a>
<br />
<h4>Notes:</h4>
<p>After logging in it is appending _undefined to the end of every page call.</p>
<p>For testing this can be stopped by returning to the login page and then going to the other menu links at the top.</p>
<br />

<script>

$(document).ready(function() {
    setHeaderText("Home"); // no longer required as we use a different template


});

// we need to alter the default css here to provide the wide layout and hide the header.
$("#main").css("width","1003px");
$("#pageHeader").hide();
</script>

