<p>SPA framework demo home page.</p>
<p>Please log in:</p>


<form>

</form>


<script>
	$(document).ready(function() {
	    setHeaderText("Login"); // no longer required as we use a different template
	});
</script>

