<div id="header">
    <!-- main header container //--> 
</div>

<div id="main_container"> <!-- full background //-->
<div id="main"><!-- main restricts to 980px wide //-->
<div id="webappHeaderMenu">
</div>

<div id="mainInner">

<div id="page_container" style="border:1px #e1e1e1 solid; background-color:#fff; border-radius:6px">

    <!-- middle row //-->
     <div id="mainContentOuter">

        <!--<div id="pageHeader" style="border:1px #e1e1e1 solid; border-radius:6px; background-image:none; margin-left:10px; margin-top:30px;">
        </div>
	//-->
		  <div id="subMenuPlaceholder" style="width:99%">
		  </div>

    <div id="mainContent">
    </div>

    <div id="webapp_popup" style="background-color:white">
        <div id="webapp_popup_close"><a href="javascript:close_webapp_popup()" style="border:0; color:gray; font-size:18px"><img src="skin/main/images/close-popup.png" width="38" height="37" /></a></div>
        <div style="float:left; margin-top:15px; margin-left:10px; width:25px; padding:0;" class="second_close"><a href="javascript:close_webapp_popup()" style="border:0; color:gray; font-size:18px">&nbsp;</a></div>
        <div id="webapp_popup_inner">
        </div>
    </div>


    <div id="overlay" style="display:none; width:100%; height:100%; s-index:10000;"></div>
    <!-- end popup and overlay //-->

    </div>

    <!-- bottom row //-->
</div>


</div>


</div><!-- closes main - our 980px one as we now need a 100% background //-->

<div id="pre_footer">
</div><!-- closes the pre-footer //-->

<footer>
  <div id="footer" style="display:none">

  </div>
</footer>
<br clear="all" />

    </div>
</div>

<div id="timeout_alert" style="height:200px; display:none; padding-top:20px; margin-top:-100px;">
    <h2 style="font-size:16px">Unable to connect to app</h2>
    <br />
    <p>Sorry - a timeout error has occurred whilst connecting to the server. <br /><br />
    </p>
    <p>Please <a href="Javascript:location.reload()" style="font-weight:normal; color:#25b5b8">reload this page</a> to try again.</p>
    <br />
    <p>This should be a very temporary problem, however if this error persists, you can contact us <a href="mailto:mattplatts@gmail.com" style="color:#25b5b8">mattplatts@gmail.com</a></p>
    <br />
    <p>Our technical team have been notified of the problem, and we apologise for any inconvenience caused.</p>
</div>
